<article class="max-w-5xl px-3 mx-auto">
    <header class="max-w-3xl mx-auto text-center content">
        <h1>{{ title }}</h1>
        {{ intro }}
        <div class="flex items-center justify-center my-12">
            {{ if author }}
            <img src="{{ author:avatar ?? author:email | gravatar:160 }}" class="w-20 h-20 my-0 mr-4 rounded-full">
            {{ /if }}
            <div class="text-left">
                {{ if author }}
                <div>
                    <a class="font-bold no-underline" href="/authors/{{ author:handle }}">
                        <span class="text-transparent bg-clip-text bg-gradient-to-r from-hot-pink to-purple-500">
                            {{ author:name }}
                        </span>
                    </a>
                </div>
                {{ /if }}
                <time datetime="{{ date format="Y-m-d" }}">{{ date }}</time>
            </div>
        </div>
    </header>
    <img class="rounded-xl" src="{{ hero_image }}" alt="">
    <section class="max-w-3xl py-6 mx-auto lg:py-12 content">
        {{ main_content }}
            {{ if type == "text" }}
                {{ text }}
            {{ elseif type == "code_block" }}
<pre class="language-{{ mode ?? 'php' }} rounded"><code>{{ code }}</code></pre>
            {{ elseif type == "image" }}
                <figure>
                    <img src="{{ image }}" alt="{{ caption }}" />
                    <figcaption>{{ caption }}</figcaption>
                </figure>
            {{ /if }}
        {{ /main_content }}
    </section>

    {{ if settings:show_signup }}
        {{ partial:sign-up}}
    {{ /if }}
</article>
